footer{
    color: #fff;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer button{
    border: none;
    padding: 2px;
}

footer i{
    margin-right: 18px;
}